
html, body{
    background-color: #F4F3F3;
}

/* all */
a {
    text-decoration: none;
}

a:hover{
    opacity: .6;
}


/* Header */

.header {
    background-color: #272727;

}

.header li {
    margin-right: 1em;
}

.header a {
    color: white;
}

.topnav .search-container {
    float: right;
}

.topnav input[type="text"] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.topnav .search-container button:hover {
    background: #ccc;
}

/* NAVIGATION */

.navigation {
    
    background-color: #0177bc;
}

.navigation li a {
    color: white !important;
}

.navigation li:not(:last-child) {
    margin-right: 1em;
}

.dropdown-menu{
    background-color: #272727 ;
}
